.text-muted {
  color: var(--text-muted-color);
  &.need {
    color: var(--text-muted-color) !important;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-center-on-mobile {
  @media screen and (max-width: 600px) {
    text-align: center;
  }
}
