:root {
  --max-width-container: 48rem;
  --font-size-ageng: 2.4rem;
  --font-size-lumayan: 2rem;
  --font-size-sedengan: 1.2rem;
  --font-size-normal: 1rem;
  --font-size-alit: 0.9rem;
  --font-size-ualit: 0.7rem;
  --font-size-uualit: 0.6rem;
}

.theme--light {
  --bg-body: #fff;
  --text-color: #333;
  --text-muted-color: #888;
}
