@import "variables";
@import "wrapper";
@import "text";
@import "link";
@import "button";
@import "general";

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  &:before {
    box-sizing: inherit;
  }
  &:after {
    box-sizing: inherit;
  }
}

html {
  font-size: 1.25rem;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @media only screen and (max-width: 992px) {
    font-size: 1.12rem;
  }

  @media only screen and (max-width: 480px) {
    font-size: 100%;
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-body);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  line-height: 1.6rem;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: var(--link-color);
  text-decoration: none;

  &:active,
  &:hover {
    outline-width: 0;
    text-decoration: underline;
  }
}
